<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>App tasks</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">App tasks</h1>

        <form action="/add-task" method="post">
            <legend>Add a task</legend>

            <div class="form-group">
                <input type="text" id="title" class="form-control" name="title" placeholder="Add a title">
            </div>

            <div class="form-group">
                <textarea class="form-control" name="description" id="description" name="description" cols="30" rows="5"
                    placeholder="Description"></textarea>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary">Add task</button>
            </div>

        </form>
        <hr>
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i = 0; i < tasks.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td>
                        <strong>
                            <%= tasks[i].title %>
                        </strong>
                    </td>
                    <td>
                        <%= tasks[i].description %>
                    </td>
                    <td>
                        <%= tasks[i].status %>
                    </td>
                    <td>
                        <a class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>" href="/turn/<%= tasks[i]._id %>">Done</a>
                        <a id="btnDelete" class="btn btn-danger" href="/delete/<%= tasks[i]._id %>">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('title').focus();
        document.getElementById('btnDelete').addEventListener('click', function(e) {
            let response = confirm('Are you sure to delete?');
            if(!response) {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>